body {
    margin: 0;
    padding: 0;
}

.navbar_cont {
    background-color: red;
    display: flex;
    height: 6rem;
    align-items: center;
}

.navbar_cont img {
    margin-left: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: flex;
}

img {
    display: flex;
    justify-content: left;
    width: 10rem;
    height: 2rem;
}

.search_bar {
    display: flex;
    height: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

input {
    width: 600px;
    height: 30px;
    font-size: 30px;
}

.navbar {
    display: flex;
    gap: 2rem;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    font-size: 20px;
}

.box_cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.liste {
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: gray;
    width: 67%;
    color: white;
    border-radius: 2rem;
}

.liste h1{
    display: flex;
    justify-content: center;
}