.navbar_cont {
    background-color: red;
    display: flex;
    justify-content: center;
}

.navbar a{
    height: 3rem;
    color: white;
}

.navbar a{
    height: 3rem;
}

img {
    display: flex;
    justify-content: left;
    width: 10rem;
    height: 2rem;
}

.search_bar {
    display: flex;
    justify-content: center;
}